@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  font-size: 18px;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 5px #333;
}
li {
  list-style: none;
}
.alert,
.button,
.toast {
  font-family: "Sofia", cursive;
  color: #fefefe;
}
.toast,
.exit {
  background: #322a43;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.exit {
  margin-top: 12px;
}
input,
select,
button {
  outline: none;
  border: 1px solid #322a43;
  background: none;
}
input {
  color: #ff9365;
  width: 70px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #ff9365;
  width: 160px;
}
.box {
  height: 60px;
  background: #322a43;
  color: #fefefe;
  text-align: center;
  line-height: 60px;
  padding: 0 20px;
  border-radius: 5px;
  margin-bottom: 80px;
}

button.button {
  margin-top: 12px;
  width: 99px;
  height: 44px;
  background: #ffffff;
  border-radius: 8px;
  color: #322a43;
}
.css {
  background: #322a43;
  padding: 10px 20px;
  border-radius: 5px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}
